/* ================= SCROLL ANIMATION CONTROL ================= */

body.is-scrolling .shape,
body.is-scrolling .hero::before,
body.is-scrolling .hero::after,
body.is-scrolling .customer-trust::before,
body.is-scrolling .whatsapp {
    animation-play-state: paused !important;
}


/* ================= MOBILE ================= */

@media (max-width: 900px) {

    .service-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero h1 {
        font-size: 40px;
    }

}


@media (max-width: 600px) {

    .container {
        flex-direction: column;
        gap: 12px;
    }

    nav {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero {
        min-height: 420px;
    }

    .hero h1 {
        font-size: 32px;
    }

    .hero p {
        font-size: 14px;
    }

    .slides img {
        height: 190px;
    }

    .notice {
        flex-wrap: wrap;
    }

    .notice-btn {
        margin-left: 0;
    }

    .service-grid {
        grid-template-columns: 1fr;
    }

    .customer-trust {
        margin: 50px 15px;
        padding: 35px 20px;
    }

    .trust-inner {
        flex-direction: column;
    }

    .customer-trust h2 {
        font-size: 24px;
    }

    .trust-features {
        grid-template-columns: 1fr;
    }

    .whatsapp {
        right: 18px;
        bottom: 18px;
    }

    #topBtn {
        right: 18px;
        bottom: 85px;
    }

}
